# 推理相关
fastapi==0.119.0
uvicorn==0.38.0
uvloop==0.22.1
httptools==0.7.1
numpy==1.26.4
requests==2.32.3
torch==2.4.1
torchvision==0.19.1
transformers==4.57.1
qwen-vl-utils==0.0.14
python-multipart==0.0.20

# 编译相关（可选，仅编译时需要）
pybind11==2.12.0
pybind11-global==2.12.0
cffi==2.0.0
pycparser==2.23